:root {

    /* Typography */
    --ff-primary: "Be Vietnam Pro", Arial, Helvetica, sans-serif;

    --fs-base: 0.625rem;
    --fs-100: 1.4rem;
    --fs-200: 1.6rem;
    --fs-300: 1.6rem;
    --fs-400: 2.4rem;
    --fs-500: 2.8rem;
    --fs-600: 3.2rem;
    --fs-700: 3.9rem;
    --fs-800: 6rem;
    --fs-900: 6.4rem;

    --fs-heading-primary: var(--fs-700);
    --fs-heading-secondary: var(--fs-600);
    --fs-sub-heading: var(--fs-300);
    --fs-body: var(--fs-200);

    --fw-medium: 500;
    --fw-bold: 700;

    --heading-letter-spacing: -0.22rem;
    --heading-line-height: 1.2;

    /* Spacing | Sizes  */
    --size-1x: 0.4rem;
    --size-2x: 0.8rem;
    --size-3x: 1.2rem;
    --size-4x: 1.6rem;
    --size-5x: 2rem;
    --size-6x: 2.4rem;
    --size-8x: 3.2rem;
    --size-10x: 4rem;
    --size-12x: 4.8rem;
    --size-16x: 6.4rem;
    --size-20x: 8rem;
    --size-25x: 10rem;
    --size-30x: 12rem;

    /* Border radius  */
    --radius-pill: 99.9rem;
    --radius-sm: var(--size-1x);

    /* Layout  */
    --section-padding-block: var(--size-12x);
    --container-width: 100%;

    /* Color  */
    --clr-red: hsl(12, 88%, 59%);
    --clr-blue-mid: hsl(228, 39%, 23%);
    --clr-blue-dark: hsl(233, 12%, 13%);
    --clr-grayish-blue: hsl(227, 12%, 61%);
    --clr-red-lighter: hsl(13, 100%, 96%);
    --clr-gray-lighter: hsl(0, 0%, 98%);

    --clr-brand-primary: var(--clr-red);
    --clr-brand-primary-light: hsl(12, 100%, 78%);
    --clr-brand-primary-lighter: var(--clr-red-lighter);
    --clr-brand-secondary: var(--clr-blue-mid);
    --clr-neutral-900: var(var(--clr-blue-dark));
    --clr-neutral-500: var(--clr-grayish-blue);
    --clr-neutral-100: var(--clr-gray-lighter);


    /* Navigation  */
    --nav-gap: var(--size-6x);
    --nav-link-color: var(--clr-brand-secondary);
    --nav-link-hover-color: var(--clr-neutral-500);
    --nav-font-size: var(--fs-200);

    /* Footer  */
    --footer-bg-color: var(--clr-blue-dark);
    --footer-font-size: var(--fs-200);
    --footer-list-gap: var(--size-4x);
    --footer-link-color: var(--clr-neutral-900);
    --footer-link-color-hover: var(--clr-brand-primary);

    /* Button  */
    --btn-font-size: var(--fs-100);
    --btn-font-weight: var(--fw-medium);
    --btn-padding: var(--size-4x) var(--size-8x);
    --btn-border-radius: var(--radius-pill);
    --btn-bg-color-primary: var(--clr-brand-primary);
    --btn-bg-color-secondary: var(--clr-neutral-100);

}

/* Base */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent !important;
}

ul,
ol {
    list-style: none;
}

svg path {
    fill: inherit
}

html {
    font-size: var(--fs-base);
    font-family: var(--ff-primary);
}


html.noscroll {
    overflow: hidden;
}

html:focus-within {
    scroll-behavior: smooth;
}

a,
a:active {
    text-decoration: none;
}

body {
    color: var(--clr-neutral-500);
    font-size: var(--fs-body);
    min-height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.8;
    overflow-x: hidden;
}

img,
picture {
    max-width: 100%;
    display: block;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
    background-color: transparent;
}

input {
    width: 100%;
}

p {
    font: inherit;
}

footer li {
    line-height: 1;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Layout  */
.l-section-container {
    max-width: calc(var(--container-width) - var(--size-10x));
    margin-inline: auto;
}

.l-section-inner {
    padding-block: var(--section-padding-block);
}

/* Utilities Classes */

.u-heading-primary,
.u-heading-secondary {
    color: var(--clr-brand-secondary);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    text-align: center;
    margin-inline: auto;
}

.u-heading-primary {
    font-size: var(--fs-heading-primary);
    max-width: 17ch;
}

.u-heading-secondary {
    max-width: 15ch;
    font-size: var(--fs-heading-secondary);
}

.u-sub-heading {
    color: var(--clr-brand-secondary);
    font-size: var(--fs-sub-heading);
    text-align: center;
    letter-spacing: -0.08rem;
}

.u-text-lead {
    max-width: 33ch;
    margin-inline: auto;
}

.u-text-center {
    text-align: center;
}

.u-flex-row {
    display: flex;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
}

.u-even-column {
    display: grid;
    grid-template-columns: 1fr;
}

/* Components  */
.btn {
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    display: inline-block;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    line-height: 1.1;
    padding: var(--btn-padding);
    text-align: center;
    text-transform: capitalize;
    transition: opacity 0.35s ease-in-out, color 0.35s ease-in-out;
}

.btn--primary {
    background-color: var(--btn-bg-color-primary);
    color: var(--clr-neutral-100);
}

.btn--primary:hover {
    opacity: 0.7;
}

.btn--secondary {
    background-color: var(--btn-bg-color-secondary);
    color: var(--clr-brand-primary);
}

.btn--secondary:hover {
    color: var(--clr-brand-primary-light);
}

.form {
    align-items: center;
    gap: var(--size-2x);
    max-width: 40rem;
    margin-inline: auto;
}

.form__field {
    border: 1px solid var(--clr-neutral-100);
    border-radius: var(--radius-pill);
    font-size: 1.4rem;
    font-weight: var(--fw-medium);
    line-height: normal;
    outline: none;
    padding: var(--size-4x) var(--size-5x);
}

.form__field::placeholder {
    color: var(--clr-neutral-500);
}

.form__btn {
    padding-inline: var(--size-6x);
}

.owl-dots {
    padding-block-start: var(--size-4x);
}

.owl-dot span {
    background: transparent !important;
    border: 2px solid var(--clr-brand-primary);

}

.owl-dot.active span {
    background: var(--clr-brand-primary) !important;

}

.owl-item {
    height: auto !important;
}


.item {
    width: 100%;
}

.owl-nav {
    bottom: 5.2rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

.owl-dot.active {
    background-color: var(--clr-brand-primary);
}

/* Site header  */
.site-header__container {
    padding-block: var(--size-8x);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
}

.site-header__logo {
    width: 14rem;
}

.site-header__btn {
    display: none;
}

.navbar__overlay {
    background: hsla(0, 0%, 0%, 0.322);
    background: linear-gradient(10deg, hsla(0, 0%, 0%, 0.322) 0%, hsla(0, 0%, 0%, 0.418) 5%, rgba(249, 252, 252, 0) 95%);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 0.25s ease-in-out;
    width: 100%;
    z-index: -1;
    visibility: hidden;
}

.navbar__overlay.is-visible {
    visibility: visible;
    opacity: 1;
}

.navbar__wrapper {
    background-color: var(--clr-neutral-100);
    border-radius: var(--radius-sm);
    left: 50%;
    top: var(--size-16x);
    opacity: 0;
    max-width: calc(var(--container-width) - var(--size-10x));
    padding: var(--size-10x) var(--size-6x);
    position: fixed;
    transform: translateX(-50%);
    transition: all 0.25s ease-in-out;
    width: calc(100% - var(--size-10x));
    visibility: hidden;
    z-index: 999;
}


.navbar__wrapper.is-visible {
    opacity: 1;
    top: var(--size-25x);
    visibility: visible;
    /* transform: translate(-50%, var(--size-25x)); */
}

.navbar__menu {
    align-items: center;
    gap: var(--nav-gap);
}

.navbar__menu.is-open {
    display: flex;
}

.navbar__link {
    color: var(--nav-link-color);
    font-size: var(--nav-font-size);
    font-weight: var(--fw-bold);
    transition: color 0.3s ease-in-out;
}

.navbar__link:hover {
    color: var(--nav-link-hover-color);
}

.navbar__controls {
    height: 3rem;
}

.navbar__hamburger {
    width: var(--size-8x);
}

.navbar__btn--open {
    padding: 0;
}

.navbar__btn--close {
    display: none;
    padding: 0;
}

/* Hero  */
.hero {
    position: relative;
}

.hero__inner {
    padding-block-start: var(--size-5x);
}

.hero__bg-image {
    width: 100%;
    position: absolute;
    left: 24%;
    top: 0;
    transform: translateY(-42%) scale(1.1);
    z-index: -1;
}

.hero__image {
    width: 100%;
    max-width: 50rem;
    margin-inline: auto;
}

.hero__content {
    padding-block-start: var(--size-2x);
}

.hero__description {
    padding-block: var(--size-2x) var(--size-6x);
}

.hero__btn {
    align-self: center;
}

/* Features  */
/* .features {
    position: relative;
} */

.features__container {
    position: relative;
    max-width: calc(100% - 2rem);
    margin-inline-end: 0;
}

.features__inner {
    padding-inline-end: 0;
}

.features__header {
    padding-inline-end: var(--size-5x);
}

.features__bg-image {
    width: 100%;
    max-width: 32rem;
    position: absolute;
    top: 0;
    transform: translateY(-86%);
    left: 60%;
    z-index: -1;
}

.features__description {
    padding-block-start: var(--size-4x);
}

.features__list {
    gap: var(--size-10x);
    margin-block-start: var(--size-12x);
}

.features__item-header {
    align-items: center;
    background-color: var(--clr-brand-primary-lighter);
    border-top-left-radius: var(--radius-pill);
    border-bottom-left-radius: var(--radius-pill);
    gap: var(--size-4x);
    margin-block-end: var(--size-3x);
}

.features__item-description {
    padding-inline-end: var(--size-5x);
}

.features__number {
    background-color: var(--clr-brand-primary);
    border-radius: var(--radius-pill);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    padding: var(--size-1x) var(--size-4x);
}

/* Testimonials  */
.testimonials {
    padding-block: var(--section-padding-block);
}

.testimonials__heading {
    margin-block-end: var(--size-12x);
}

.testimonials__item {
    align-items: center;
    justify-content: center;
    gap: var(--size-5x);
}

.testimonials__avatar {
    width: var(--size-20x) !important;
}

.testimonials__description {
    max-width: 42rem;
    padding-inline: var(--size-5x);
}

.testimonials__btn {
    margin-block-start: var(--size-12x);
}


/* Simplify  */
.simplify {
    background-color: var(--clr-brand-primary);
    background-image: url('./images/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
    background-size: 18rem;
    background-position: -2rem 1rem;
}

.simplify__inner {
    align-items: center;
    gap: var(--size-6x);
    padding-block: var(--size-20x);
}

.simplify__heading {
    color: var(--clr-neutral-100);
    letter-spacing: 0;
}

/* Footer  */
.footer {
    background-color: var(--footer-bg-color);
}

.footer__inner {
    align-items: center;
    display: grid;
    gap: var(--size-12x);
    grid-template-columns: 1fr;
    position: relative;
}

.footer__brand {
    align-items: center;
    flex-direction: column-reverse;
}

.footer__logo {
    display: block;
    margin: var(--size-12x) auto var(--size-16x);
    width: 15rem;
}

.footer__social {
    gap: var(--size-6x);
    justify-content: center;
    width: 100%;
}

.footer__icons {
    display: block;
    fill: var(--clr-neutral-100);
    height: auto;
    transition: all 0.35s ease-in-out;
    width: 100%;
    max-width: 4rem;
}

.footer__icons path {
    transform: scale(1.8);
}

.footer__icons:hover {
    fill: var(--clr-brand-primary);
}

.footer__link {
    color: var(--clr-neutral-100);
    transition: color 0.35s ease-in-out;
}

.footer__link:hover {
    color: var(--clr-brand-primary);
}


.footer__list-group {
    grid-row: 2;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 28rem;
    width: 100%;
}

.footer__list {
    gap: var(--size-5x);
}

.footer__rights {
    bottom: var(--size-8x);
    left: 0;
    line-height: normal;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}

/* Responsive Breakpoint  */
/* Screen larger than 575px  */
@media screen and ((min-width:35.9375em) and (max-width:47.9375em)) {

    /* Features  */
    .features__bg-image {
        max-width: 45rem;
        left: 58%;
        top: 0;
        transform: translate(1%, -85%);
    }
}

/* Screen larger than 768px  */
@media screen and (min-width:48em) {
    :root {
        --container-width: 72rem;
    }

    /* Layout  */
    .l-section-container {
        max-width: var(--container-width);
    }

    /* Utilities */

    .u-flex-md-row {
        flex-direction: row;
    }

    .u-flex-md-column {
        flex-direction: column;
    }

    .u-even-column {
        grid-template-columns: repeat(2, 1fr);
    }

    .u-heading-primary,
    .u-heading-secondary,
    .u-text-lead {
        margin-inline: 0;
        text-align: left;
    }

    .u-text-lead {
        max-width: 36ch;
    }

    .u-heading-secondary {
        max-width: 24ch;
    }

    .u-sub-heading {
        letter-spacing: normal;
    }

    /* Site Header  */
    .navbar__wrapper {
        max-width: var(--container-width);
    }

    /* Hero */
    .hero__inner {
        grid-auto-flow: column;
        align-items: center;
        padding-block-start: var(--section-padding-block);
    }

    .hero__banner {
        grid-column: 2/ -1;
    }

    .hero__bg-image {
        left: 54%;
        transform: translateY(-40%) scale(1);
        max-width: 54rem;
    }

    .hero__content {
        grid-column: 1 / 2;
        padding-inline-end: var(--size-4x);
        padding-block-start: 0;
    }

    .hero__description {
        padding-block: var(--size-4x) var(--size-6x);
    }

    .hero__btn {
        align-self: flex-start;
    }

    /* Features  */
    .features__container {
        margin-inline-end: auto;
    }

    .features__bg-image {
        max-width: 60rem;
        right: 84%;
        left: unset;
        top: 100%;
        transform: translate(1%, -62%);
    }

    .features__inner {
        gap: var(--size-4x);
    }

    .features__list {
        margin: 0;
    }

    .features__item-header {
        background-color: transparent;
    }

    .features__item-description {
        padding-inline-end: 0;
    }

    /* Testimonials */
    .testimonials__heading {
        text-align: center;
        margin-inline: auto;
    }

    .testimonials__description {
        max-width: 48ch;
    }

    /* Simplify  */
    .simplify {
        background-image: url('./images/bg-simplify-section-desktop.svg');
        background-size: cover;
        background-position: center bottom;
    }

    .simplify__inner {
        justify-content: space-between;
    }

}

/* Screen larger than 992px  */
@media screen and (min-width:62em) {
    :root {
        --container-width: 94rem;
        --fs-700: 4.9rem;
        --fs-600: 4rem;
        --fs-300: 1.8rem;
        --nav-gap: var(--size-8x);
        --section-padding-block: var(--size-20x);
    }

    /* Site Header   */
    .site-header {
        align-items: center;
    }

    .site-header__btn {
        display: block;
    }

    .navbar__overlay {
        display: none;
    }


    .navbar__wrapper {
        background-color: transparent;
        display: block;
        max-width: 100%;
        opacity: 1;
        padding: 0;
        position: unset;
        transform: unset;
        visibility: visible;
        width: 100%;
    }

    .navbar__menu {
        flex-direction: row;
    }

    .navbar__link {
        font-weight: var(--fw-medium);
    }

    .navbar__controls {
        display: none;
    }

    /* Hero  */
    .hero__bg-image {
        left: 56%;
        max-width: 60rem;
        top: 0;
        transform: translateY(-36%);
    }

    /* Features  */

    .features__item-header {
        gap: var(--size-6x);
    }

    .features__item-description {
        max-width: 100%;
        padding-inline-start: 7.4rem;
    }

    .features__bg-image {
        max-width: 65rem;
        right: 84%;
        transform: translate(1%, -52%);
    }


    /* Testimonials */
    .testimonials {
        padding-block-end: calc(var(--size-20x) * 2);
    }

    .testimonials__description {
        max-width: 55ch;
        /* max-width: 42ch; */
    }

    /* Simplify  */
    .simplify__inner {
        padding-block: var(--size-16x);
    }

    /* Footer  */
    .footer__inner {
        align-items: flex-start;
        gap: 0;
        grid-auto-flow: column;
        grid-template-columns: repeat(12, 1fr);
        padding-block: var(--size-16x);
    }

    .footer__brand {
        align-items: flex-start;
        flex-direction: column;
        grid-column: 1 / 4;
        height: 100%;
    }

    .footer__logo {
        margin-block-start: 0;
        width: 16rem;
    }

    .footer__social {
        justify-content: left;
        gap: var(--size-2x);
        height: var(--size-6x);
        max-width: 18rem;
    }

    .footer__icons path {
        transform: scale(1.2);
    }

    .footer__social,
    .footer__rights {
        margin-block-start: auto;
    }

    .footer__rights {
        font-size: var(--fs-100);
        position: static;
        text-align: left;
    }

    .footer__form-wrapper {
        display: flex;
        flex-direction: column;
        grid-column: 9 / -1;
        height: 100%;
        justify-self: flex-end;
    }

    .footer__list-group {
        grid-column: 4 / 8;
        grid-row: unset;
        max-width: 100%;
    }
}

/* Screen larger than 1175px  */
@media screen and (min-width:73.4375em) {
    :root {
        --container-width: 102.4rem;

        --fs-700: 5.325rem;
    }

    /* Component  */
    .form {
        margin-inline: 0;
    }

    /* Site Header  */
    .navbar__menu {
        gap: var(--size-8x);
    }

    /* Hero  */
    .hero__bg-image {
        left: 55%;
        max-width: 74rem;
        transform: translateY(-36%);
    }

    .hero__image {
        max-width: 100%;
    }

    .hero__heading {
        max-width: 15ch;
    }

    /* Features  */
    .features__bg-image {
        max-width: 82rem;
        right: 87%;
        transform: translate(1%, -42%);
    }

    /* Testimonials  */
    .testimonials__description {
        max-width: 52ch;
    }

}